/* For Large Devices */
.wrapper-top-bar {
  background: var(--primary-color-new);
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.top-left {
  display: flex;
}
.top-left .email {
  margin-right: 2rem;
}
.top-left i {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
}
.menu {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  background: white;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left .logo {
  border-right: 1px solid var(--gray-color);
}
.nav-left img {
  margin-right: 1rem;
}
.nav-left .phone-number {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.nav-left .phone-number .text {
  font-size: 12px;
  color: var(--gray-color);
  font-weight: 400;
}
.nav-left .phone-number .number {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: bold;
  background: var(--primary-color);
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
}
/* For Small Devices */
